.footer {
  padding: 55px 0;

  @include tablet {
    padding-bottom: 30px;
  }

  @include mobile {
    padding-bottom: 14px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px;
    @include mobile {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }

  &__logo {
    @include mobile {
      margin-bottom: 44px;
    }
  }

  &__copyright {
    grid-row: 3/4;
  }

  &__contact {
    grid-row: 2/4;
    justify-self: end;
    p:first-child {
      margin-bottom: 7px;
    }
    @include mobile {
      grid-row: 2/3;
      justify-self: start;
      margin-bottom: 33px;
    }
  }
}

